@import '../common/styles/Shared.scss';

.menu-item {
    font-size: 36pt;
    color: $primary-font-color;
    background-color: $primary-button-color;
    margin-top: .5em;
    padding: .25em;
    border-radius: .5em;
    width: 7em;
    text-align: center;
    cursor: pointer;
}
