.menu-item {
    font-size: 36pt;
    color: white;
    background-color: darkslategray;
    margin-top: .5em;
    padding: .25em;
    border-radius: .5em;
    width: 7em;
    text-align: center;
    cursor: pointer;
}
