.erh-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .25em .5em 1em .5em;
    box-sizing: border-box;
}

.erh-initiative {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.erh-margin {
    margin: .25em;
}