.tm-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
    overflow-y: scroll;
    max-height: 90vh;
    max-width: 100vw;
    border-radius: .5em;
}

.tm-element {
    margin: .25em;
}

.tm-number-element {
    margin: .25em;
    width: 4em;
}
