.monster-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: antiquewhite;
    overflow-y: scroll;
    padding: .5em;
    max-height: 85vh;
    border-radius: .5em;
    min-width: 18em;
}

.monster-form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    flex-shrink: 0;
}

.number-size {
    width: 3em;
}

.mm-hit-die {
    width: 5em;
}

.textarea-size {
    min-width: 20em;
    height: 5em;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.physical-stat-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mental-stat-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

.row-container-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.center-container {
    justify-content: center;
    align-items: center;
}

.monster-form-row-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.left-margin {
    margin-left: 10px;
}

.right-margin {
    margin-right: .5em;
}

.mm-align-left {
    text-align: left;
}

.mm-margin-element {
    margin: .25em;
}

.side-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.top-margin {
    margin-top: 10px;
}

.border-bottom {
    border-bottom: 2px solid darkslategray;
}

.red-text {
    color: darkred;
}

.bold-text {
    font-weight: bold;
}
