.player-modal-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: antiquewhite;
    overflow-y: scroll;
    max-height: 90vh;
    max-width: 100vw;
    border-radius: .5em;
}

.pm-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-wrap: normal;
    flex-wrap: wrap;
}

.pm-flex-start {
    justify-content: flex-start;
    align-items: center;
}

.pm-space-between {
    justify-content: space-between;
    align-items: center;
}

.pm-margin-top {
    margin-top: .5em;
}

.pm-margin-bottom {
    margin-bottom: .5em;
}

.pm-margin-left {
    margin-left: .5em;
}

.pm-first-element {
    margin: .25em .25em .25em .5em;
}

.pm-last-element {
    margin: .25em .5em .25em .25em;
}

.pm-element {
    margin: .25em;
}

.pm-input {
    width: 10em;
    margin: .25em;
}

.pm-number-input {
    width: 4em;
    margin: .25em;
}
